body {
  margin: 0;
  padding: 0;
  font-family: "century gothic", sans-serif;
  background-color: yellow;
}

.Buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  margin: 0 auto;
  margin-top: 25px;
}

button {
  border-radius: 5px;
  background-color: white;
  border: 3px solid red;
  outline: none;
  color: red;
  padding: 20px;
  font-size: 25px;
  font-weight: bold;
  box-shadow: 7px 7px 3px pink;
}

button:hover{
  border-radius: 5px;
  background-color: red;
  border: 3px solid white;
  color: white;
  box-shadow: 7px 7px 3px white;
  outline: none;
}

.PreviousButton:disabled {
  display: none;
}

.Card {
  background-color: white;
  border: 5px dashed red;
  border-radius: 5px;
  text-align: center;
  width: 500px;
  padding: 100px;
  font-size: 60px;
  margin: 10px auto;
  box-shadow: 7px 7px 3px pink;
}
